
.input svg {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 1rem;
    fill: #fff;
}

.autocomplete input {
    color: black;
    background-color: white;
}

.autocomplete .suggestion {
    color: black;
    background-color: lightgray;
}

.autocomplete .suggestions :hover{
    color: white;
    background-color: darkgray;
}

.autocomplete .active{
  color: black;
  background-color: darkgray;
}

.autocomplete .focus{
  color: white;
  background-color: darkgray;
}
