body {
    background-color: rgb(250, 250, 250);
}

.buttonStyle {
    margin: 10px;
    padding: 10px;
}

.menu{
    border: 2px;
    background-color: goldenrod;
    margin-top: 10px;
    border-radius: 5px;
}

.softflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
  display: inline;
}

.soflow {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

.mutation2Color{
    color: #2777b4;
    font-weight: bolder;
  font-family: Arial, serif;
}

.mutation3Color{
    color: #ff7f0e;
    font-weight: bolder;
    font-family: Arial, serif;
}

.mutation4Color{
    color: #0000ff;
    font-weight: bolder;
  font-family: Arial, serif;
}

.mutationColor{
    color: cornflowerblue;
    font-weight: bolder;
  font-family: Arial, serif;
}


.cnvcolor{
    color: firebrick;
    font-weight: bolder;
}

.cnvHighColor{
    color: #ff0000;
    font-weight: bolder;
  font-family: Arial, serif;
}

.cnvLowColor{
    color: #0000ff;
    font-weight: bolder;
  font-family: Arial, serif;
}

.overRepresentedColor{
  background-color: red;
  color: white;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.neutralColor{
  background-color: white;
  color: black;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: black solid 2px;
}

.underRepresentedColor{
  background-color: blue;
  color: white;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.pathwayChip {
    color: gray;
    background-color:  rgb(238, 238, 238);
    border-radius: 20px;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.inlinePathwayChip {
  color: gray;
  background-color:  rgb(238, 238, 238);
  border-radius: 20px;
  /*padding: 10px;*/
  padding: 3px 3px 4px 4px;
  font-size: small;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline;
}

.geneSetBox{
  border-radius:15px;
}

.geneSetBoxLabel{
  border-radius:15px;
  display: inline;
  font-weight: bold;
  margin-right: 4px;
}

.cohortEditorBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
  width: 400px;
  /*height: 80px;*/
  /*overflow: auto;*/
  border: 2px solid black;
}


.cohortEditorGrid{
  /*margin: 5px;*/
  /*padding: 5px;*/
  /*font-family: sans-serif;*/
  /*font-size:small;*/
  /*box-shadow: 1px 1px 1px 1px gray;*/
  /*border-radius:5px;*/
  width: 95%;
  /*overflow: auto;*/
}

.cohortEditorRow{
  /*margin: 5px;*/
  /*padding: 5px;*/
  /*font-family: sans-serif;*/
  /*font-size:small;*/
  /*box-shadow: 1px 1px 1px 1px gray;*/
  /*border-radius:5px;*/
  width: 100%;
  /*overflow: auto;*/
  border: 2px solid black;
}

.subCohortList{
  list-style-type:  none;
  padding-left: 0;
}

.geneSetFilterBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
  height: 80px;
  overflow: auto;
}

.geneSetInfoBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
  /*height: 80px;*/
  overflow: auto;
}

.inlineButton {
  display: inline;
}

.autoSortBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
  /*height: 80px;*/
  overflow: auto;
}

.shortRow{
  height: 40px;
}

.headerBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bolder;
  /*box-shadow: 1px 1px 1px 1px gray;*/
  border-radius:1px;
  /*height: 80px;*/
  overflow: auto;
  display: inline;
}

.containerBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size:small;
  /*box-shadow: 1px 1px 1px 1px gray;*/
  border-radius:1px;
  /*height: 80px;*/
  overflow: auto;
  display: inline;
}

.verticalLegendBox{
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
}

.cnvMutationLegendBox{
  margin: 2px;
  padding: 2px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
}

.menuButton{
    border: 2px;
    background-color: lightblue;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    color: green;
    border-radius: 5px;
}

.mouseHover :hover{
    cursor: pointer;
}



.hoverScore{
    color: white;
    display: inline;
    font-weight: bold;
    background-color: #333333;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.wideNavigation{
    width: 400px;
    display:inline;
}

.inlineSearch{
    width: 200px;
    display:inline;
    color: white;
    background-color: white;
}
.inlineSearchBox{
    width: 150px;
    display:inline;
    color: white;
    background-color: white;
}

.input .autocomplete {
    color: white;
    background-color: white;
}

.menuStyle{
  /*font-color:white ;*/
    background-color: white;
}

.labelDefault{
    position: absolute;
    cursor: none;
}

.labelDefaultTop :hover{
    background-color: red;
    stroke-width: 1;
    color: black;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px gray inset;
}

.labelDefaultBottom :hover{
    background-color: blue;
    stroke-width: 1;
    color: black;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px gray inset;
}

div[data-react-toolbox=dialog] > section{
    width: 1000px;
    overflow: auto;
}
.map_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    cursor: none;
}

.crosshairH {
    width: 100%;
    height:1px;
    margin-top: -8px;
    visibility: visible;
    float: left;
    position: absolute;
    /*background-color:rgba(100,100,100,0.5);*/
    pointer-events: none;
    background-image:url('./dots.gif');
    cursor: none;
    -webkit-touch-callout: none;
    user-select: none;
  z-index: 10;
}

.crosshairV{
    float: left;
    position: absolute;
    /*background-color:rgba(100,100,100,0.5);*/
    pointer-events: none;
    background-image:url('./dots.gif');
    height:100%;
    width:1px;
    margin-left: -8px;
    visibility: visible;
    cursor: none;
    -webkit-touch-callout: none;
    user-select: none;
  z-index: 10;
}

.scoreBox{
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  display: inline;
}

.samplesBox{
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius:5px;
  background-color: lightgray;
  /*border: solid 1px;*/
}

.bottomInfoBox{
  height: 220px;
  width: 190px;
  margin: 5px 0 5px 0;
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
  /*height: 80px;*/
  overflow: auto;
  text-wrap: normal;
  background-color: white;
}

.topInfoBox{
  background-color: white;
  height: 210px;
  width: 190px;
  margin: 60px 0 5px 0;
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size:small;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius:5px;
  /*height: 80px;*/
  overflow: auto;
  text-wrap: normal;
}

.infoLink{
  height: 20px;
  margin: 0;
  padding: 0;
  display: inline;
}

.cohortAGeneSetViewer{
  padding: 8px 2px 8px 2px;
  border-radius: 3px;
  color: white;
}

.cohortBGeneSetViewer{
  padding: 8px 2px 8px 2px;
  border-radius: 3px;
}

.geneSetHeaderLabel{
  font-family: sans-serif;
  font-size: small;
  display: inline;
}

.noBullets{
  list-style-type: none;
  padding: 5px 0 0 0 ;
  margin: 0;
}

.topGeneDetailBox{
border-radius: 5px;
 padding-right: 20px;
 padding-left: 20px;
 padding-top: 5px;
 padding-bottom: 5px;

}

.bottomGeneDetailBox{
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}
