body {
    background-color: rgb(250, 250, 250);
}

.buttonStyle {
    margin: 10px;
    padding: 10px;
}

.menu{
    border: 2px;
    background-color: goldenrod;
    margin-top: 10px;
    border-radius: 5px;
}

.softflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.soflow {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

.mutationColor{
    color: firebrick;
    font-weight: bolder;
}

.mutation2Color{
    color: #2777b4;
    font-weight: bolder;
}

.mutation3Color{
    color: #ff7f0e;
    font-weight: bolder;
}

.mutation4Color{
    color: #0000ff;
    font-weight: bolder;
}

.cnvColor{
    color: cornflowerblue;
    font-weight: bolder;
}

.cnvHighColor{
    color: #ff0000;
    font-weight: bolder;
}

.cnvLowColor{
    color: #0000ff;
    font-weight: bolder;
}

.pathwayChip {
    color: gray;
    background-color:  rgb(238, 238, 238);
    border-radius: 20px;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.menuButton{
    border: 2px;
    background-color: lightblue;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    color: green;
    border-radius: 5px;
}

.mouseHover :hover{
    cursor: pointer;
}

.hoverScore{
    color: white;
    display: inline;
    font-weight: bold;
    background-color: #333333;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.wideNavigation{
    width: 400px;
    display:inline;
}

.inlineSearch{
    width: 200px;
    display:inline;
    color: white;
    background-color: white;
}
.inlineSearchBox{
    width: 150px;
    display:inline;
    color: white;
    background-color: white;
}

.input .autocomplete {
    color: white;
    background-color: white;
}

.menuStyle{
  /*font-color:white ;*/
    background-color: white;
}
