
.wizardBox{
    border-radius: 10px;
    background-color:white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 8px;
    margin: 2px;
}

.wizardAnalysisButtonSelected{
    border-radius: 10px;
    background-color: darkblue;
    color: white;
}

.wizardAnalysisButton{
    border-radius: 5px;
    margin: 5px;
    background-color: #f7f7f7;
    color: #4ECDC4 !important;
    cursor: pointer;
}

.wizardAnalysisButton:hover{
  border-radius: 8px;
  margin: 5px;
  background-color: #a7d3c7 !important;
  color: #4ECDC4 !important;
  text-decoration: underline;
  cursor: pointer;
}

.wizardInfoButton{
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-bottom: 6px;
  margin-left: 10px;
  color: gray;
  cursor: pointer;
}

.wizardInfoButton:hover{
  border-radius: 8px;
  background-color: #f7f7f7;
  margin-bottom: 6px;
  margin-left: 10px;
  color: black;
  cursor: pointer;
}

.wizardAnalysisGeneExpressionButton{
    border-radius: 10px;
    margin: 5px;
    background-color: #2777b4;
    color: black;
}

.wizardPreviousButton{
    border-radius: 10px;
    background-color: #2777b4;
    margin-left: 0;
    display:inline;
}

.wizardNextButton{
    border-radius: 10px;
    background-color: #2777b4;
    margin-left: 80%;
    display:inline;
}


.wizardFinishButton{
    border-radius: 10px;
    background-color: #2777b4;
    margin-left: 10%;
    display:inline;
}

.wizardCloseThisWindow{
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
    display:inline;
    text-decoration: underline;
    font-weight: bold;
}

.advancedOptionsArrow{
  background-color: white;
  color: gray;
  border-radius: 10px;
  /*margin-top: 20px;*/
  margin-bottom: 3px;
  display: inline;
  cursor: pointer;
}

.advancedOptions{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  border-radius: 10px;
  /*padding: 5px;*/
  /*margin: 5px 5px 5px 5px ;*/
  margin-top: 20px;
  display: inline;
  cursor: pointer;
}

.advancedOptionsCell{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  border-radius: 10px;
  font-size: smaller;
  /*padding: 5px;*/
  /*margin: 5px 5px 5px 5px ;*/
  margin-top: 20px;
  display: inline;
  cursor: pointer;
}

.advancedTable{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.wizardHeader{
  margin-top: 10px;
  margin-bottom: 0;
}

.wizardCellHeader{
  margin-top: 10px;
  margin-bottom: 0;
}

.wizardDataBox{
  border-radius: 5px;
  border: 1px solid #555555;
  /*background-color: gray;*/
  stroke-width: 2px;
  padding-left: 10px;
  padding-top: -5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 2px #555555;
  width: 600px
}

.wizardColumn{
  /*border-radius: 10px;*/
  background-color:white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /*outline: black;*/
  border: 1px solid rgba(0,0,0,0.12);
  width: 500px;
  /*height: 300px*/
  /*padding: 8px;*/
  /*margin: 2px;*/
}

.wizardCell{
  /*border: 1px solid #999999;*/
  border-bottom: 1px solid rgba(0,0,0,0.12);
  stroke-width: 2px;
  padding-left: 10px;
  padding-top: -5px;
  padding-bottom: 10px;
  /*width: 600px*/
}

.descriptionText{
  border-bottom: 1px solid rgba(0,0,0,0.12);
  stroke-width: 2px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: smaller;
}

