
.wizardBox{
    border-radius: 10px;
    /*background-color: #4ECDC4;*/
  background-color:white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 8px;
    margin: 2px;
}

.wizardAnalysisButtonSelected{
    border-radius: 10px;
    background-color: darkblue;
    color: white;
}

.wizardAnalysisButton{
    border-radius: 5px;
    margin: 5px;
    background-color: #f7f7f7;
    color: #4ECDC4 !important;
    cursor: pointer;
}

.wizardAnalysisButton:hover{
  border-radius: 8px;
  margin: 5px;
  /*background-color: aquamarine;*/
  background-color: #a7d3c7 !important;
  /*background-color: darkgreen !important;*/
  /*background-color: aquamarine !important;*/
  /*color: #4cc960 !important;*/
  color: #4ECDC4 !important;
  text-decoration: underline;
  cursor: pointer;
}

.wizardInfoButton{
  border-radius: 5px;
  margin: 5px;
  background-color: #f7f7f7;
  color: black;
  cursor: pointer;
}

.wizardInfoButton:hover{
  border-radius: 8px;
  margin: 5px;
  background-color: darkgreen;
  color: black;
  cursor: pointer;
}

.wizardAnalysisGeneExpressionButton{
    border-radius: 10px;
    margin: 5px;
    background-color: #2777b4;
    color: black;
}

.wizardPreviousButton{
    border-radius: 10px;
    background-color: #2777b4;
    margin-left: 0;
    display:inline;
}

.wizardNextButton{
    border-radius: 10px;
    background-color: #2777b4;
    margin-left: 80%;
    display:inline;
}


.wizardFinishButton{
    border-radius: 10px;
    background-color: #2777b4;
    margin-left: 10%;
    display:inline;
}

.wizardCloseThisWindow{
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
    display:inline;
    text-decoration: underline;
    font-weight: bold;
}

.advancedOptions{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 5px 5px 5px ;
  display: inline;
  cursor: pointer;
}

.advancedTable{
  /*font-family: "Roboto","Helvetica","Arial";*/
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 5px 5px 5px ;
  cursor: pointer;
}
